.App{
  height: 100vh;
  /* border: 3px solid red; */
  
 }
 
 .contenedor-principal{
     width: 100%;
     height: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     
     background-image: url("./imagenes//backgroundLogo.jpeg");
     background-position: center center;
     background-position-y: 0px;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: rgb(33, 109, 209);
     /* background: linear-gradient(#22528a 0%, #95b8ce 50%, #294075 100% ); */
 
 }